.filters {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters .filterText {
    margin-bottom: 20px;
}

.filters .attributes {
    display: flex;
    flex-direction: row;
}

/* Responsiveness */
@media only screen and (max-width: 775px) {
    .filters .attributes {
        display: flex;
        flex-direction: column;
    }
}
