.container {
    background: var(--auth-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .signup {
    position: relative;
    background: var(--white-col);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    z-index: 1;
}

.container .signup .mainText {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.container .signup .username {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container .signup .username label {
    font-size: 0.9rem;
}

.container .signup .username input {
    height: 30px;
    padding: 0 3px;
    border: 1px solid var(--black-col);
    border-radius: 3px;
    outline: none;
}

.container .signup .username input:focus {
    border: 1px solid var(--auth-accent);
}

.container .signup .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container .signup .email label {
    font-size: 0.9rem;
}

.container .signup .email input {
    height: 30px;
    padding: 0 3px;
    border: 1px solid var(--black-col);
    border-radius: 3px;
    outline: none;
}

.container .signup .email input:focus {
    border: 1px solid var(--auth-accent);
}

.container .signup .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container .signup .password label {
    font-size: 0.9rem;
}

.container .signup .password input {
    height: 30px;
    padding: 0 3px;
    border: 1px solid #000000;
    border-radius: 3px;
    outline: none;
}

.container .signup .password input:focus {
    border: 1px solid var(--auth-accent);
}

.container .signup .confirmPassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container .signup .confirmPassword label {
    font-size: 0.9rem;
}

.container .signup .confirmPassword input {
    height: 30px;
    padding: 0 3px;
    border: 1px solid var(--black-col);
    border-radius: 3px;
    outline: none;
}

.container .signup .confirmPassword input:focus {
    border: 1px solid var(--auth-accent);
}

.container .signup .button {
    background: var(--auth-accent);
    color: var(--white-col);
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    padding: 8px 0;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 20px;
}

.container .signup .button:hover {
    cursor: pointer;
    background: var(--auth-accent-hover);
}

.container .signup .loginRedirect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .signup .loginRedirect .text {
    font-size: 0.8rem;
}

.container .signup .loginRedirect .redirect {
    color: var(--black-col);
    font-size: 0.8rem;
    text-decoration: underline;
    font-weight: 600;
}

.container .signup .logo {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 80px;
    border-radius: 15px;
    opacity: 0.8;
    z-index: -1;
}
