@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --white-col: #ffffff;
    --black-col: #000000;
    --red-col: rgb(255, 0, 0);
    --light-gray: #f1f2f6;
    --auth-bg: #edf3ff;
    --auth-accent: #4d49e8;
    --auth-accent-hover: #5854db;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
